body {
    background: url(Images/background.jpg);
    width: 99%;
    background-repeat: no-repeat;
    background-size: cover;
}
.keys {
    color: white;
    text-align: center;
    margin-left: 89px;
    margin-top: 270px;
    transition: 0.07s;
}
.key {
    float: left;
    padding: 5px;
    border: 3px solid black;
    border-radius: 3px;
    width: 75px;
    height: 56px;
    margin-right: 35px;
    transition: 0.07s;
    background: #00000040;
}
.key kbd {
    display: block;
    font-size: 35px;
    font-family: 'Zilla Slab', serif;
    text-shadow: 1px 1px 8px black;
    margin-top: -5px;
}
.key span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #FFDF00;
    text-shadow: 1px 2px 2px black;
}
.playing{
    border: 3px solid #ffc600;
    box-shadow: 1px 2px 16px -2px #ffc600;
    transform: scale(1.1);
}

























ar
